*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.li_nav{font-family: Poppins ;
    width: 100px;
    height: 50px;
    margin:10px;
    width: auto;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    background-color: rgb(239, 247, 243);
    justify-content: start;
    align-items: center;
    padding: 5px;
}
nav img{
    width: 70px;
}
.item_nav{
    display: flex;
    list-style: none;
    margin: 0;
}
.href_nav{
    text-decoration: none;
    color: black;
    
}

#contenedor_principal{
    padding: 0 35px;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}
.reverse{
    flex-direction: row-reverse;
    background-color: rgb(73, 251, 162) !important;
}
.contenedor_imagen{
    width: 1500px;
    height: 200px;
    background-color: brown;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contenedor_imagen img{
    width: 300px;
    height: 200px;
}
.informacion{
    margin: 3rem;
}

section#foto_fondo{
    height: 600px;
    background-image: url(./img/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
#principal p{
    color: white;
    padding: 20px;
}
.titulo_principal{
    font-size: 36px;
    font-weight: 700px;
}
.descripcion_principal{
    font-size: 18px;
}
#parrafo_inicio{
    color: #0e0e0e;
    padding: 20px;
    font-size: 24px;
    margin: 40px;
}
/* vista de preguntas */
#foto_preguntas{
    height: 400px;
    background-color: #0e0e0e;
}

/* LINEA DE TIEMPO NO TOCAR */
.timeline {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .event {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
.imagenFondoPopup{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0e0e0e;
    padding: 20px;
    margin-bottom: 10px;
}
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  
  .tarjetas{
    display: flex;
    justify-content: space-around;
    z-index: -20px;
  }